name: Crystal CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  check_format:
    runs-on: ubuntu-latest
    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Check format
        run: crystal tool format --check

  check_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install dependencies
        run: shards install
      - name: Check lint
        run: ./bin/ameba

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install dependencies
        run: shards install --skip-postinstall --skip-executables
      - name: Run tests
        run: crystal spec
